services:
  db:
    image: pgvector/pgvector:pg16
    container_name: rag_local_db
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: rag_db
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: